body {
  margin: 0;
  display: flex;
  place-items: center;
  background-color: #ccc;
}

#root {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: #202020;
}

.card {
  padding: 2em;
}
